doctype html
html
    head
        title Users Service Demo
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    body
        include include/navigation.pug
        .container
            block content
            br
            hr
        script(src='/bower_components/jquery/dist/jquery.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.js')